[submodule "FrameWork"]
	path = FrameWork
	# url = git@github.com:majorkingleo/FrameWork.git
	url = https://github.com/majorkingleo/FrameWork.git
[submodule "TwelveLittleScoutsClerk"]
	path = TwelveLittleScoutsClerk
	# url = git@github.com:majorkingleo/TwelveLittleScoutsClerk.git
	url = https://github.com/majorkingleo/TwelveLittleScoutsClerk.git
